asa.avl
__pycache__/analise.cpython-39.pyc
__pycache__/apoio.cpython-39.pyc
__pycache__/constantes.cpython-39.pyc
__pycache__/historico.cpython-39.pyc
__pycache__/interface.cpython-39.pyc
__pycache__/Modelo.cpython-39.pyc
__pycache__/Moga_2020.cpython-39.pyc
